
// VARIABLE
:root {
  --bs-primary: #06bbcc !important;
  --primary: #06bbcc;
  --primary-blur: #06bbcc3d;
  --light: #f0fbfc;
  --dark: #181d38;
  --star:#df9f38;
}
// BTN
.btn {
  font-weight:bold !important;
}
.btn-primary {
  --bs-btn-bg: #06bbcc !important;
  --bs-btn-border-color: #06bbcc !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #06bbcc !important;
  --bs-btn-hover-border-color: #06bbcc !important;
  --bs-btn-focus-shadow-rgb: #06bbcc !important;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #06bbcc !important;
  --bs-btn-active-border-color: #06bbcc !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-primary:hover {
  opacity: 0.8;
}
// INPUT AND TEXREA
input[type="text"], input[type="password"], input[type="search"], textarea {
  border: 1px solid #aaa;
  outline: none ;
  padding-left: 5px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  border: 1px solid var(--primary);
  outline: none;
  box-shadow: none;
}
input[type="radio"]:focus {
  box-shadow: none !important;
}
.custom-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
// LABEL  
label {
  font-weight: bold;
}
// TEXT

div .text-primary {
  color: #06bbcc !important;
}
.router-view-css {
  min-height: 500px;
}
// UL,LI
ul {
  list-style: none;
}
// LOADING 
.waiting {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 99;
  right: 0;

  .btn {
    display: block;
    margin: auto;
    margin-top: 300px;
  }
}
// CURSOR
.cursor-pointer {
  cursor: pointer;
}
.hover-primary:hover {
  background-color: var(--primary-blur);
}
// BORDER 
.border-radius-9 {
  border-radius: 9px;
}
.border-radius-6 {
  border-radius: 6px;
}
.border-primary-blur {
  border: 1px solid var(--primary-blur)
}
.border-bottom-primary-blur {
  border-bottom: 1px solid var(--primary-blur)
}
// BACKGROUND
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-primary-blur {
  background-color: var(--primary-blur);
}
// TEXT
.text-primary {
  color: var(--primary);
}
.text-star {
  color: #df9f38;
}
// LINK
a {
  text-decoration: none;
}
// PAGINATION
.page-link.active, .active > .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--primary);
  border-color: var(--primary);
}
.page-link.active:hover, .active > .page-link:hover {
  color: white;
}
.page-link {
  color: var(--primary);
  cursor: pointer;
}
.page-link:hover {
  color: var(--primary);
}
